node_modules/
bower_components/
.tmp/
dist/
/.project
build/
.gradle/
static/

*.log

*.js
*.map

#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

#############
## Idea
#############
*.eml
*.iml
.idea/
out/

#############
## etc
#############
*.tar
